@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html.dark {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#__next,
body,
html {
  transition-duration: 0.3s;
}

#__next {
  padding-bottom: 100px;
}
html.dark .ant-typography {
  color: white !important;
}

.spring-light {
  transition-timing-function: cubic-bezier(0, 0, 0.125, 1.65);
}

.spring-heavy {
  transition-timing-function: cubic-bezier(0.585, 0.32, 0.06, 1.155);
}

.ant-on-off-track {
  background-color: #003c83 !important;
}

.ant-on-off-handle {
  border: solid 2px #003c83 !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  transition: 0.4s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 57, 94);
  outline: solid 4px transparent;
  border-radius: 10px;
}

/* w3school */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.on-off {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.on-off:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .on-off {
  background-color: #f3ec35;
}

input:focus + .on-off {
  box-shadow: 0 0 1px #f3ec35;
}

input:checked + .on-off:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded on-offs */
.on-off.round {
  border-radius: 34px;
}

.on-off.round:before {
  border-radius: 50%;
}

/* w3school end */
