@tailwind base;
#__next,
body,
html {
  transition-duration: 0.3s;
}

#__next {
  padding-bottom: 100px;
}
html.dark #__next {
  background: radial-gradient(
        100% 225% at 100% 0%,
        rgba(4, 36, 64, 0.8) 0%,
        rgba(4, 36, 64, 0) 99%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #000000;
}
html.dark body {
  background: radial-gradient(
        100% 225% at 100% 0%,
        rgba(4, 36, 64, 0.8) 0%,
        rgba(4, 36, 64, 0) 99%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #000000 !important;
}
html.dark .ant-typography {
  color: white !important;
}

.font-farro {
  font-family: "Farro", sans-serif;
}

.spring-light {
  transition-timing-function: cubic-bezier(0, 0, 0.125, 1.65);
}

.spring-heavy {
  transition-timing-function: cubic-bezier(0.585, 0.32, 0.06, 1.155);
}
@tailwind components;
@tailwind utilities;
