@tailwind base;
#__next,
body,
html {
  transition-duration: 0.3s;
}

#__next {
  padding-bottom: 100px;
}
html.dark .ant-typography {
  color: white !important;
}

.font-farro {
  font-family: "Farro", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-figtree {
  font-family: "Figtree", sans-serif;
}

.spring-light {
  transition-timing-function: cubic-bezier(0, 0, 0.125, 1.65);
}

.spring-heavy {
  transition-timing-function: cubic-bezier(0.585, 0.32, 0.06, 1.155);
}

@tailwind components;
@tailwind utilities;

.ant-slider-track {
  background-color: #003c83 !important;
}

.ant-slider-handle {
  border: solid 2px #003c83 !important;
}
